@charset "windows-1251";
html{ height: 100%; width:100%; }
body { font: 100% sans-serif, Helvetica, Arial, Verdana;
/* background-image: url('/dnev/design/fon1.jpg'); */
margin: 0; padding: 0;
text-align: center; /* хак для IE 5* */
color: #000000; /*position:relative;*/
}
/*приветствие*/
.preword{ color:#FF0000; text-align:justify; margin-bottom:15px; font-size:x-small; padding: 0 15px; }
.header { text-align:center; margin-bottom:15pt; font-size: 16pt; font-weight: bold; }
.rekomenda { font-size: 13px; font-weight: bold; border: 1px dashed #ccc; margin: 0 10pt 10pt 10pt; padding: 10pt; }
.rekomenda:before { content:'Страницы, которые мне понравились за последние дни, рекомендую:'; }
#bodyz { text-align: justify; }
#post { padding: 0 15px; }
#post h1{ text-align:center; font-size:medium; }
#copyright{ text-align:right; margin-top: 15px; margin-bottom: 20px; padding: 0 15px; }
#comments{ width:100%; background-image:url('/dnev/design/kl0.gif'); border-top: green solid 2px; margin-top: 5px; padding: 15px 0; text-align:justify; }
.item_com{ padding: 3px 10px 2px 40px; }