@charset "windows-1251";

html{ height: 100%; width:100%; }

body { font: 100% sans-serif, Helvetica, Arial, Verdana;
background-image: url('/design/nabokamaster/img/backgr.gif');
margin: 0; padding: 0;
text-align: center; /* хак для IE 5* */
color: #000000; position:relative; border-bottom: green 2px solid;
}

.twoCol #container { width: 100%; margin: 0 auto; text-align: left; padding: 0; position:relative; } 
.twoCol #sidebar1 { float: left; width: 143px; padding: 15px 0; border-right: green 2px solid; overflow-y: hidden; overflow: auto; }
.twoCol #sidebar1 h3, .twoCol #sidebar1 p { margin-left: 10px; margin-right: 10px; }
.twoCol #mainContent { /* БЛОК ЗАМЕТКИ */
text-align:justify; margin: 0 0 0 143px; /* отступ основного блока на ширину левой колонки */
padding: 20px 0; border-left: green 2px solid; border-collapse:collapse; } 



/*приветствие*/
.preword{ color:#FF0000; text-align:justify; margin-bottom:15px; font-size:x-small; padding: 0 15px; }
.header { text-align:center; margin-bottom:15pt; font-size: 16pt; font-weight: bold; }
.rekomenda { font-size: 13px; font-weight: bold; border: 1px dashed #ccc; margin: 0 10pt 10pt 10pt; padding: 10pt; }
.rekomenda:before { content:'Страницы, которые мне понравились за последние дни, рекомендую:'; }
#bodyz { text-align:justify; color:white; }

a {color: #B3F150; }
a:hover {color: #FF00FF; }

#post { padding: 0 15px; }
#post h1{ text-align:center; font-size:medium; }
#copyright{ text-align:right; margin-top: 15px; margin-bottom: 20px; padding: 0 15px; }
#comments{ width:100%; border-top: green solid 2px; margin-top: 5px; padding: 15px 0; text-align:justify; }
.item_com{ padding: 3px 10px 2px 40px; }

/* Календарь */
.cld_top,.cld_days,.cld_red,.cld,.cld_this,.cld_ed {font-size: 10px;}
.cld_days {background-color: #F0F0F0;}
.cld_red {background-color: #FFE8D0;text-align:right;}
.cld {text-align:right;}
.cld_this {background-color:red; color:white;}
.cld_ed {color: black; text-decoration: none; }

/* рамка форм - мне так нравится */
.t { border: 1px solid #330000; }
.r { font-size: 12px; }
.l { cursor: pointer; color: #B3F150; text-decoration: underline; }
.l:hover { color: #FF00FF }

/* кнопки панели управления */

.knop { border: 1px solid #ccc; margin-left: 1px;}
.knop:hover { border: 1px solid black; }

.noa {color:black; text-decoration: none; }
.noa:hover {color:#ccc;}

/* комментарии */


.opc, .cnam, .rul1,.rul0 {cursor: pointer}
.rul1,.rul0,.cplu,.cmin,.kmail {float:left}

.c0, .c1, .c2, .c3 { font: 80% sans-serif, Helvetica, Arial, Verdana; max-width: 80%; border: 1px dotted #bbb;
overflow: auto; padding: 0 0 0 5px; margin-top: 5px; }

.c0 { background-color: #AAFAFA; }
.c1, .opc { background-color: #F1F1F1; }
.c2 { background-color: #FFFBDF; border: 1px dotted red; }
.c3 { background-color: #ffe; border: 1px dotted red; }

.ctxt { padding: 5pt; overflow: auto; text-align: justify; }


.ctim, .cbro, .cwho { font-size: 8pt; position: relative; margin-left: 10pt; top: 0px; float: right; }
.kn { font-size: 8pt; position: relative; float: left; }

.cnam { font-size: 12pt; font-weight: bold; }

.cplu,.cmin { font-size:8pt }
.cplu {color:red;cursor:n-resize} .cplu:before { content:'+'} .cplu:after { content:'  '}
.cmin {color:blue;cursor:s-resize} .cmin:before { content:'-'} .cmin:after { content:'  '}
.kmail:after { content: ' 'url('/design/e2/kmail.png')' ' }

.rul1:before {content:url('/design/e3/button_accept.png')}
.rul0:before {content:url('/design/e3/list-remove.png')}

/* кнопки */
.kus,.kd,.ked,.ks0,.ks1,.ka,.ko1,.ko0,.kou { cursor: pointer; float:left; font-size: 6pt; color: blue; padding: 0 2pt 0 7pt; }
.kus:before {content:'info'} /* показать личную карточку автора */
.kd:before {content:'del'} /* удалить комментарий */
.ked:before {content:'edit'} /* редактировать комментарий */
.ks0:before {content:'скрыть'}
.ks1:before {content:'раскрыть'}  /* скрыть-раскрыть */
.ka:before {content:'ответить'} /* ответить */

.ko1:before {content:'разрешено'; background-color: #FBDFAA;} 
.ko0:before {content:'запрещено'; background-color: #AAFAFA;}
.kou:before {content:'-';}

.cscr,.cdel { max-width: 20%; border: 1px dotted #bbb; padding: 0 0 0 5px; margin-top: 5px; }

.cscr {font-size:8px; font-weight: bold; background-color: #AAFAFA; }
.cscr:before {content:'* комментарий скрыт'}

.cdel {font-size:8px; font-weight: bold; }
.cdel:before {content:'* комментарий удален'}

.opc { font-size: 11px; }
.opc:before {content:url('/design/e3/expand_plus.gif')'показать'}

.br { font-size: 10px; }

.search { font-weight: bold; color: black; background-color: rgb(255, 204, 0); }

.pravka_textarea {border:1px solid #ccc; font-size: 15pt; margin-right:5px;}

/*  
cursor:move; user-select:none; -moz-user-select:none; -khtml-user-select:none;
cursor:auto; user-select:auto; -moz-user-select:auto; -khtml-user-select:auto;
*/

.popup { overflow:auto; top:100px;left:100px;position:absolute;z-index:999; }
.popup .content{padding:4px 4px; background:#F3F1E0}
.corners{position:relative;height:1%;background:url('/design/pravka/popup_l.png') repeat-y;margin:9px 0;padding:1px 9px;}
.corners .inner{position:relative;z-index:1;margin-right:-9px;background:url('/design/pravka/popup_r.png') 100% 0 repeat-y;padding:1px 9px 1px 0}
.corners:before{display:block;height:9px;content:url('/design/pravka/popup_lt.png');background:url('/design/pravka/popup_rt.png') 100% 0 no-repeat;font-size:0;margin:-10px -9px 0}
.corners .inner:before{display:block;height:9px;content:'';background:url('/design/pravka/popup_t.png') repeat-x;font-size:0;margin:-10px 0 0}
.corners:after{display:block;height:9px; content:url('/design/pravka/popup_lb.png');background:url('/design/pravka/popup_rb.png') 100% 10px no-repeat;font-size:0;margin:0 -9px -10px}
.corners .inner:after{display:block;height:9px;content:'';background:url('/design/pravka/popup_b.png') repeat-x;font-size:0;margin:0 0 -10px}

.can { position:absolute; top:1px; right:8px; width:16px; height:16px; cursor: pointer; }
.can:after { content: url('/design/e3/button_cancel.png'); }

.canceledit,.fmedit,.fmn,.fmcopy,.fmmdash,.fmltgt { cursor: pointer; }
.canceledit:after { content: url('/design/e/cancel1.png'); }
.fmedit:after { content: url('/design/e/edit.gif'); }
.fmn:after { content: url('/design/e/n.gif'); }
.fmcopy:after { content: url('/design/e/copy.gif'); }
.fmmdash:after { content: url('/design/e/mdash.gif'); }
.fmltgt:after { content: url('/design/e/ltgt.gif'); }


/* (c)Миша http://pricol.nov.ru/lleo/2009/12/05.html */
a[href *=".livejournal.com"] {
	background: transparent url('/design/ico/livejournal.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *="lleo.aha.ru"] {
	background: transparent url('/design/ico/lleo.aha.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".blogspot.com"] {
	background: transparent url('/design/ico/blogspot.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".moikrug.ru"] {
	background: transparent url('/design/ico/moikrug.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".myopenid.com"] {
	background: transparent url('/design/ico/myopenid.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".ya.ru"] {
	background: transparent url('/design/ico/ya.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".youtube.com"] {
        background: transparent url(http://www.youtube.com/favicon.ico) no-repeat center left;
        padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}

.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px; }
.cf { clear:both; height:0; font-size: 1px; line-height: 0px; }
.q { clear:both; height:0; font-size: 1px; line-height: 0px; }

LEGEND { font-weight: bold; color: #FF6200; font-size: 10px; text-align: left; }


p.d {color:white; text-align:justify;text-indent:5%;margin-top:0pt;margin-bottom:0pt;}
p.pd {color:white; text-align:justify;text-indent:5%;margin-top:2%;margin-bottom:0pt;}
p.name {color:white; text-indent:0pt;margin-top:4%;margin-bottom:6%;text-align:center;font-weight:bold;font-size:150%;}
p.podp {color:white; text-indent:0pt;margin-top:30pt;margin-bottom:12%;text-align:right;font-style:italic;}
/* p.z {color:white; text-indent:0pt;margin-top:4%;margin-bottom:4%;text-align:center;font-weight:bold;font-size:100%;} */
p.epigraf {color:white; text-indent:0pt;text-align:justify;margin-top:10pt;margin-bottom:0pt;margin-right:4%;margin-left:60%;font-size:80%;}
p.epigrafp {color:white; text-indent:0pt;text-align:right;margin-top:0pt;margin-bottom:4%;margin-right:4%;margin-left:60%;font-size:80%;font-style:italic;}

p.z {font: 90% Verdana; font-size: 11pt; color: #B3F150; text-indent:0pt; margin-left:20pt; margin-right:20pt; margin-top:10pt; margin-bottom:0pt;}
p.n {font: 90% Verdana; font-size: 12pt; color: #B3F150; text-indent:0pt; margin-left:20pt; margin-right:20pt; margin-top:10pt; margin-bottom:0pt; font-weight: bold;}
p.t {font: 90% Verdana; font-size: 11pt; color: white; text-indent:0pt; margin-left:20pt; margin-right:20pt; margin-top:10pt; margin-bottom:10pt; text-align:left;}

.clock1 { color:white; font-size:10px; position:absolute; z-index:0; }
.abs { position:absolute; z-index:0 }
TABLE,TD,TR,UL,LI,P,A { z-index:10 }

.qTip {
padding: 5px; border: 1px solid #666; border-right-width: 2px; border-bottom-width: 2px;
background: #999; color: #FFF; font: bold 11px Verdana, Arial, sans-serif;
text-align: left; position: absolute; z-index: 1000; max-width: 30%;
}
