@charset "windows-1251";
body { margin: 0; padding: 0; }
/*приветствие*/
.preword{ color:#FF0000; text-align:justify; margin-bottom:15px; font-size:x-small; padding: 0 15px; }
.header { text-align:center; margin-bottom:15pt; font-size: 16pt; font-weight: bold; }
.rekomenda { font-size: 13px; font-weight: bold; border: 1px dashed #ccc; margin: 0 10pt 10pt 10pt; padding: 10pt; }
.rekomenda:before { content:'Страницы, которые мне понравились за последние дни, рекомендую:'; }
#bodyz { text-align: justify; }
#post { padding: 0 15px; }
#post h1{ text-align:center; font-size:medium; }
#copyright{ text-align:right; margin-top: 15px; margin-bottom: 20px; padding: 0 15px; }
#comments{ width:100%; background-image:url('/design/kl0.gif'); border-top: green solid 2px; margin-top: 5px; padding: 15px 0; text-align:justify; }
.item_com{ padding: 3px 10px 2px 40px; }
/* рамка форм - мне так нравится */
.t { border: 1px solid #330000; }
.r { font-size: 12px; }
.l,.ll { cursor: pointer; color: blue; text-decoration: underline; } .ll { display: inline; }
/* кнопки панели управления */
.knop { border: 1px solid #ccc; margin-left: 1px;}
.knop:hover { border: 1px solid black; }
.noa {color:black; text-decoration: none; }
.noa:hover {color:#ccc;}
/* комментарии */
.opc, .cnam, .rul1,.rul0 {cursor: pointer}
.rul1,.rul0,.cplu,.cmin,.kmail {float:left}
.c0, .c1, .c2, .c3 { font: 80% sans-serif, Helvetica, Arial, Verdana; max-width: 80%; border: 1px dotted #bbb; overflow: auto; padding: 0 0 0 5px; margin-top: 5px; }
.c0 { background-color: #AAFAFA; }
.c1, .opc { background-color: #F1F1F1; }
.c2 { background-color: #FFFBDF; border: 1px dotted red; }
.c3 { background-color: #ffe; border: 1px dotted red; }
.ctxt { padding: 5pt; overflow: auto; text-align: justify; }
.ctim, .cbro, .cwho { font-size: 8pt; position: relative; margin-left: 10pt; top: 0px; float: right; }
.kn { font-size: 8pt; position: relative; float: left; }
.cnam { font-size: 12pt; font-weight: bold; }
.cplu,.cmin { font-size:8pt }
.cplu {color:red;cursor:n-resize} .cplu:before { content:'+'} .cplu:after { content:'  '}
.cmin {color:blue;cursor:s-resize} .cmin:before { content:'-'} .cmin:after { content:'  '}
.kmail:after { content: ' 'url('/design/e2/kmail.png')' ' }
.rul1:before {content:url('/design/e3/button_accept.png')}
.rul0:before {content:url('/design/e3/list-remove.png')}
/* кнопки */
.kus,.kd,.ked,.ks0,.ks1,.ka,.ko1,.ko0,.kou { cursor: pointer; float:left; font-size: 6pt; color: blue; padding: 0 2pt 0 7pt; }
.kus:before {content:'info'} /* показать личную карточку автора */
.kd:before {content:'del'} /* удалить комментарий */
.ked:before {content:'edit'} /* редактировать комментарий */
.ks0:before {content:'скрыть'}
.ks1:before {content:'раскрыть'}  /* скрыть-раскрыть */
.ka:before {content:'ответить'} /* ответить */
.ko1:before {content:'разрешено'; background-color: #FBDFAA;}
.ko0:before {content:'запрещено'; background-color: #AAFAFA;}
.kou:before {content:'-';}
.cscr,.cdel { max-width: 20%; border: 1px dotted #bbb; padding: 0 0 0 5px; margin-top: 5px; }
.cscr {font-size:8px; font-weight: bold; background-color: #AAFAFA; }
.cscr:before {content:'* комментарий скрыт'}
.cdel {font-size:8px; font-weight: bold; }
.cdel:before {content:'* комментарий удален'}
.opc { font-size: 11px; }
.opc:before {content:url('/design/e3/expand_plus.gif')'показать'}
.br { font-size: 10px; }
.search { font-weight: bold; color: black; background-color: rgb(255, 204, 0); }
p.d {text-align:justify;text-indent:5%;margin-top:0pt;margin-bottom:0pt;}
p.pd {text-align:justify;text-indent:5%;margin-top:2%;margin-bottom:0pt;}
p.name {text-indent:0pt;margin-top:4%;margin-bottom:6%;text-align:center;font-weight:bold;font-size:150%;}
p.podp {text-indent:0pt;margin-top:30pt;margin-bottom:12%;text-align:right;font-style:italic;}
p.z {text-indent:0pt;margin-top:4%;margin-bottom:4%;text-align:center;font-weight:bold;font-size:100%;}
p.epigraf {text-indent:0pt;text-align:justify;margin-top:10pt;margin-bottom:0pt;margin-right:4%;margin-left:60%;font-size:80%;}
p.epigrafp {text-indent:0pt;text-align:right;margin-top:0pt;margin-bottom:4%;margin-right:4%;margin-left:60%;font-size:80%;font-style:italic;}
.pravka_textarea {border:1px solid #ccc; font-size: 15pt; margin-right:5px;}
.popup { overflow:auto; top:100px;left:100px;position:absolute;z-index:999; }
.popup .content{padding:4px 4px; background:#F3F1E0}
.corners{position:relative;height:1%;background:url('/design/pravka/popup_l.png') repeat-y;margin:9px 0;padding:1px 9px;}
.corners .inner{position:relative;z-index:1;margin-right:-9px;background:url('/design/pravka/popup_r.png') 100% 0 repeat-y;padding:1px 9px 1px 0}
.corners:before{display:block;height:9px;content:url('/design/pravka/popup_lt.png');background:url('/design/pravka/popup_rt.png') 100% 0 no-repeat;font-size:0;margin:-10px -9px 0}
.corners .inner:before{display:block;height:9px;content:'';background:url('/design/pravka/popup_t.png') repeat-x;font-size:0;margin:-10px 0 0}
.corners:after{display:block;height:9px; content:url('/design/pravka/popup_lb.png'); background:url('/design/pravka/popup_rb.png') 100% 10px no-repeat; font-size:0;margin:0 -9px -10px}
.corners .inner:after{display:block;height:9px;content:'';background:url('/design/pravka/popup_b.png') repeat-x;font-size:0;margin:0 0 -10px}
.can { position:absolute; top:1px; right:8px; width:16px; height:16px; cursor: pointer; }
.can:after { content: url('/design/e3/button_cancel.png'); }
.canceledit,.fmedit,.fmn,.fmcopy,.fmmdash,.fmltgt { cursor: pointer; }
.canceledit:after { content: url('/design/e/cancel1.png'); }
.fmedit:after { content: url('/design/e/edit.gif'); }
.fmn:after { content: url('/design/e/n.gif'); }
.fmcopy:after { content: url('/design/e/copy.gif'); }
.fmmdash:after { content: url('/design/e/mdash.gif'); }
.fmltgt:after { content: url('/design/e/ltgt.gif'); }
/* (c)Миша http://pricol.nov.ru/lleo/2009/12/05.html */
a[href *=".livejournal.com"] {
	background: transparent url('/design/ico/livejournal.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *="lleo.aha.ru"] {
	background: transparent url('/design/ico/lleo.aha.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".blogspot.com"] {
	background: transparent url('/design/ico/blogspot.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".moikrug.ru"] {
	background: transparent url('/design/ico/moikrug.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".myopenid.com"] {
	background: transparent url('/design/ico/myopenid.com.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".ya.ru"] {
	background: transparent url('/design/ico/ya.ru.gif') no-repeat center left;
	padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
a[href *=".youtube.com"] {
        background: transparent url(http://www.youtube.com/favicon.ico) no-repeat center left;
        padding: 5px 0 5px 17px; font-weight: normal; text-decoration: none;
}
.q { clear:both; height:0; font-size: 1px; line-height: 0px; }
LEGEND { font-weight: bold; color: #FF6200; font-size: 10px; text-align: left; }
/* input,textarea { border: 1px solid #b8858e; font-size:13px; } */
.t1{ color: #814c52; font-size:13px; }
.t2{ color: black; font-size:13px; }
.tb1{ padding-right: 20pt; text-align: right; }
.subm { cursor: pointer; border: 1px solid #b8858e; background: #fde9e8; }
ul{margin:0 0 0 2.5em;padding:0}
h1{margin:0;padding:0.5em 0 1em 0;letter-spacing:-0.1ex;font-size:1.8em}
h2{margin:0;padding:0.5em 0;letter-spacing:-0.1ex;font-size:1.5em}
hr{clear:both;height:1px;color:#ccc;background:#ccc;border:none}
p{ font-size: 12pt; text-align: justify; }
.fotoa{ width:200; height:150; float: left; text-align: center;}
.fotoa a { color: #814c52; }
.fotot{ font-size: 10px; }
.ok { cursor: pointer; text-align: right; float: left; }
.ok:after { content: url('/design/e/cancel1.png'); }
.menu_end { font-size:10px; color: #814c52; background: #b8858e url('/design/silkway/menu3.gif'); width: 100%; height: 24px; line-height: 24px; }
.okno { text-align: left; font-size: 14pt; background: #fde9e8; width: 100%; }
.flash {z-index:0}
table, ul, td, tr, li {z-index:1}
.pl { float: left; margin-top: 5px; background: #b8858e; width: 20px; height: 8px;}
.vnt,.zl1,.zl2,.podrob { text-decoration: none; font-size: 13px; }
.zl1,.podrob { color: #b8858e; }
.zl2 { color: black; }
.vnizl { padding: 0 0 30px 30px;}
.vnizr { padding: 0 0 30px 0;}
.vnt { padding: 8px 0 0 15px; }
.qTip {
padding: 5px; border: 1px solid #666; border-right-width: 2px; border-bottom-width: 2px;
background: #999; color: #FFF; font: bold 11px Verdana, Arial, sans-serif;
text-align: left; position: absolute; z-index: 1000; max-width: 30%;
}
