<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"><head>
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
{_MAIN:_}{_PRAVKA:_}{_STYLE_ADD: {www_css}blank.css _}{_STYLE_ADD: {www_css}sys.css _}
<title>Error not found: {_article_get:Date_}</title>
<link rel="prev" href="{prevlink}" id="PrevLink" />
<link rel="next" href="{nextlink}" id="NextLink" />
<link rel="UpLink" href="{uplink}" id="UpLink" />
<link rel="DownLink" href="{downlink}" id="DownLink" />
</head>

<body><table width=100% height=100%><tr><td valign=center align=center>

<div style='font-family:"comic sans ms";max-width:900px;text-align:justify;font-size:84px;font-weight:bold;text-align:center;'>404 not found</div>

<p>страница <b>/{_article_get:Date_}</b> не найдена

{_IFADMIN: <p><a href="javascript:majax('editor.php',{a:'newform',hid:hid,acn:acn,Date:'{_article_get:Date_}'})">
открыть редактор и создать?</a> _}

</td></tr></table>
</body></html>