<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>{_article_get:Header_}</title>
<meta charset={wwwcharset} />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
{_MAIN:_}{_SNAPSHOT:_}{_STYLE_ADD: {www_css}lj.css _}{_STYLE_ADD: {www_css}sys.css _}
<title>{admin_name}: {_TITLE:_}</title>
<link rel="shortcut icon" type="image/x-icon" href="{httphost}favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="{admin_name}" href="{httphost}rss" />
<link rel="prev" href="{prevlink}" id="PrevLink" />
<link rel="next" href="{nextlink}" id="NextLink" />
<link rel="UpLink" href="{uplink}" id="UpLink" />
<link rel="DownLink" href="{downlink}" id="DownLink" />
</head>

<body bgcolor="#6666CC" text="#000000" link="#000050" vlink="#500050" alink="#FF00C0">

<div class="w-cs">
	<div style="float:left;	width:40%; min-width:381px; height:50px; background:#2D373C;border-right:1px solid #3A4449;">

<div style="float:left; text-indent:-3333px; display:block; overflow:hidden; width:29px; height: 31px; margin: 9px 0px 0px 18px; background: url({www_design}lj/w-cs-logo.png) no-repeat !important;"></div>

<div class="w-cs-options">

<fieldset>

{_UNIC:
logintxt = login&nbsp;
template = <div title='Click to open you card' id='loginobr' style='cursor:pointer;' onclick="majax('login.php',{a:'getinfo'})"><span>мой логин:&nbsp;</span><span id='myunic' style='font-weight:bold;'>{name}</span></div>{kuki}
_}

<div><p><a title='Всплывает окошко со списком заметок,<br>которые ваш браузер ещё не открывал.' href="javascript:majax('okno.php',{a:'notseen',day:30})">моё непрочитанное</a></div>

</fieldset>

<fieldset>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</fieldset>

<fieldset>

<div><a title='Перейти на страницу со списком всех заметок.' href={wwwhost}contents>содержание</a></div>

<div>счетчик: {_COUNTER:_}</div>

<!-- div><a title='Перейти на страницу, где рассказывается, как можно установить себе этот движок блога (он открытый).' href=http://lleo.me/blog/lleoblog>движок</a></div -->

</fieldset>

<fieldset>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</fieldset>

<fieldset>

<div>{_STATISTIC: template = <a title='Заходы на эту страницу по ссылкам<br>и через поисковики.' href="javascript:{majax}">статистика</a> _}</div>

<div>{_KTOPOSETIL: podzamok , short , <span title='Кто посещал эту страницу поименно?'>посетители</span> _}</div>

</fieldset>

<fieldset>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</fieldset>


<fieldset class="last">

<div><a href={wwwhost}rss><i class="e_rss" width=36 height=14 border=0 alt="RSS вход" title='Мой дневник поддерживает RSS'></i></a></div -->

</fieldset>


</div>
	</div>

<div class="w-cs-user-controls">

<div style="padding: 2px 0 0 0; white-space: nowrap; float: none; background: none !important; font: 12px/14px 'Arial', 'Helvetica', sans-serif; color: #FFF;">You are viewing: <a href='{httphost}'><b>{admin_name}</b></a></div>

<form class="w-cs-search"><fieldset><INPUT title='Click to search!' type='text' size='7' class="text" name='q' tabindex="8" placeholder="Search" onclick="majax('okno.php',{a:'search'})"><input type="button" onclick="majax('okno.php',{a:'search'})" tabindex="9" style="position: absolute; top:6px; right:12px; width:14px; height:15px; padding: 0; background: url({www_design}lj/submit-search.png) no-repeat; border: 0; border-radius: 0; box-shadow: 0 0 0 #BDBCBC; text-shadow: 0 0 0 #666; text-indent: -3333px; cursor: pointer;" alt='Click to search!' /></fieldset></form></div>
</div>

<div class="w-cs-ne"></div>

{_PREWORD:_}{_ANOTHER_DATE:_}
{_PREVNEXT:
no = &nbsp;
prev = <a href="{prevlink}"><img src="{www_design}lj/btn_prev.gif" width="24" height="24" title="Предыдущая запись" border='0' align="absmiddle" /></a>
next = <a href="{nextlink}"><img src="{www_design}lj/btn_next.gif" width="24" height="24" title="Следующая запись" border='0' align="absmiddle" /></a>
template = <div class="standout"><table class="container"><tr><td><table><tr><td valign='middle'>{prev}&nbsp;&nbsp;{next}</td></tr></table></td></tr></table></div>
_}

<!-- начало блока -->
<table style="width: 100%; margin: 5px 0; clear: both; min-height: 220px; float: none;"><tr><td align="left">

<table><tr valign='middle'>
<td><img src='{httphost}/design/userpick.jpg' width='65' height='80' align='absmiddle' hspace='3' title='{admin_name}' /></td>
<td>Пишет <span style='white-space:nowrap'><a href='{httphost}'><b>{admin_name}</b></a></span>
<br /><font size='-1'>@ {_HEADERS: template="<div{onclick_editor} class='header' id='Header_{num}'>{Y}&nbsp;{MONTH}&nbsp;{D}&nbsp;{H}:{i}:{s}</div>"_}</font>
<br />{_HEADERS: template="<div style='display:inline' {podzamstyle}>{adminset} {zamok}<font face="Arial,Helvetica" size='+2'><i><b><span{onclick_editor} id=Header_{num}>{Header}</span></b></i></font></div>"_}
</td></tr></table>


<div id="post">{_MAY9:_}

<br />
<div id="bodyz" style='margin-left: 30px'>{_TEXT:_}</div></div>

<div id="copyright">
{_TAGS: template = <div style='font-size: 10pt; text-align:right;'><div class=ll onclick="majax('search.php',{a:'alltag'})">тэги записи:</div> {tags}</div> _}
<div>{_YANDEXCOUNT:_}&nbsp;&nbsp;&nbsp;{_ADDTHIS:_}</div>
</div>

<br clear='both' />

{_PREVNEXT:
no = &nbsp;
prev = <a href="{prevlink}"><img src="{www_design}lj/btn_prev.gif" width="24" height="24" title="Предыдущая запись" border='0' align="absmiddle" /></a>
next = <a href="{nextlink}"><img src="{www_design}lj/btn_next.gif" width="24" height="24" title="Следующая запись" border='0' align="absmiddle" /></a>
template = <div class="standout"><table class="container"><tr><td><table><tr><td valign='middle'>{prev}&nbsp;&nbsp;{next}</td></tr></table></td></tr></table></div>
_}

<hr size='2' align='center' />
{_REKOMENDA:_}
<div id="comments"><p align='center' class='lesstop'><b>{_COMENTS:_}</b></p></div>

</div></td></tr></table>
</body></html>