<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>{_article_get:Header_}</title>
<meta charset={wwwcharset} />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
<meta name="author" content="Leonid Kaganov" />
{_MAIN:_}{_STYLE_ADD: {www_css}blank.css _}{_STYLE_ADD: {www_css}sys.css _}
</head>
<body><div id="bodyz" style="padding: 40px;">{_TEXT:_}<p>&nbsp;</div></body></html>
