loadCSS('commentform.css');

commselectfile=function(e,id){ e=e.files;
    idd(id+'_nofile').value=0;
    idd(id+'_textarea').value=idd(id+'_textarea').value.replace(/\n*\[IMG\]\n*@?/gi,'')+'[IMG]';
    doclass('loadfotos',function(e,s){clean(e)},'',idd(id+'_ta'));
    for(var i=0;i<e.length;i++) { var file=e[i];
    if(!(/^image\//).test(file.type)) { idie('Image Only!'); return; }
    try{
	var im=document.createElement('img');
	im.style.maxHeight=idd(id+'_ta').clientHeight+'px';
	im.style.marginLeft='10px'; im.className='loadfotos';
	idd(id+'_ta').appendChild(im);
	var reader=new FileReader(); reader.onload=(function(x){ return function(e){ x.src=e.target.result; }; })(im);
	reader.readAsDataURL(file);
    }catch(x){}
    }
};

fclipboard=function(e){ if(!idd(e+'_textarea')) return;
    var m=l_read('clipboard_mode'); if(m!='') {
        if(m=='Copy link') {
	    var l=l_read('clipboard_link'),t=l_read('clipboard_text');
	    ti(e+'_textarea',l+"\n\n[i]"+t+"[/i]\n{select}");
	    l_save('clipboard_mode','');
        }
    } setTimeout(function(){fclipboard(e);},1000);
}; fclipboard('{idhelp}');

cm_mail_validate=function(p){ return p.value; };

cmsend=function(t,comnu,id,dat,lev) {
    var ara={a:'comsend',comnu:comnu,id:id,dat:dat,lev:lev,commenttmpl:commenttmpl}; var nara=['mail','name','text','capcha','capcha_hash','foto','html'];

    for(var l in nara) { l=nara[l]; if(t[l]) ara[l]=(l=='foto'&&(idd('{idhelp}_nofile').value==0)?t[l]:t[l].value); }
    majax('comment.php',ara); return false;
};


comnum++; helpc('{idhelp}',"<fieldset id='commentform'><legend>комментарий</legend>{@@@njss:

<table border=0><tr valign=top><td>

<form onsubmit="return ajaxform(this,'comment.php',{a:'comsend',comnu:'{comnu}',id:'{id}',dat:'{dat}',lev:'{lev}',commenttmpl:commenttmpl})">

<div id='co_{comnu}'></div>

<div><div class=l1>
{?is_name:
1:{imgicourl}
*:<div style='display:inline' class='myunic'>ввести им€: <input name='name' class='in' type='text'>&nbsp;&nbsp;&nbsp;<input tiptitle='«алогинитьс€ по-быстренькому,<br>не покида€ страницы' value='или залогинитьс€' onclick="ifhelpc('{httphost}login','logz','Login')" type='button'></div>
?}
</div><div class=l2>
{?mail:
:mail: <input name='mail' class=in type=text onkeyup='this.value=cm_mail_validate(this)'>
*:<i alt='≈сли вам кто-то ответит,<br>ответы придут на {#mail}<br>Ќо чтобы они приходили,<br>зайдите в свою учетную карточку<br>и поставьте там галочки `присылать ответы`<br>и `подтвердить email`' class='e_mail' align=right></i>
?}
</div>
<br class=q /></div>

{?capchakarma:
1:
*:<div class='del_onlogon'><div class=l1>{?capchakarma:|0:вы впервые на сайте<br>|*:|?}подтвердите, что вы не робот:</div><div class=l2 id='ozcapcha_{comnu}'><table><tr valign=center><td><input maxlength='{#antibot_karma}' class='capcha' type=text name='capcha'><input type=hidden name='capcha_hash' value='{#antibot_hash}'></td><td>{antibot_img}</td></tr></table></div><br class=q /></div>
?}

<i class='knop e_nbsp' onClick="ti('{idhelp}_textarea','{?chr:160?}{select}')"></i>
<i class='knop e_copy' onClick="ti('{idhelp}_textarea','{?chr:169?}{select}')"></i>
<i class='knop e_mdash' onClick="ti('{idhelp}_textarea','{?chr:151?}{select}')"></i>
<i class='knop e_ltgt' onClick="ti('{idhelp}_textarea','{?chr:171?}{select}{?chr:187?}')"></i>
<i class='knop e_bold' onClick="ti('{idhelp}_textarea','[b]{select}[/b]')"></i>
<i class='knop e_italic' onClick="ti('{idhelp}_textarea','[i]{select}[/i]')"></i>
<i class='knop e_strikethrough' onClick="ti('{idhelp}_textarea','[s]{select}[/s]')"></i>
<i class='knop e_underline' onClick="ti('{idhelp}_textarea','[u]{select}[/u]')"></i>
<div style='display:inline' class='r'>{?LL@Commentpanel:loadfoto?} <input name='foto' type='file' onchange="commselectfile(this,'{idhelp}')"></div>
<div class='br'>
<div style='display:inline'>{?LL@Commentpanel:html?} <input name='html' type='checkbox'></div>
&nbsp; &nbsp; <div class='ll' title="{?LL@Commentpanel:screen_title?}" onClick="ti('{idhelp}_textarea','{screen:\n{select}\n}')">{?LL@Commentpanel:screen?}</div>
&nbsp; &nbsp; <div class='ll' title="{?LL@Commentpanel:scr_title?}" onClick="ti('{idhelp}_textarea','{scr:\n{select}\n}')">{?LL@Commentpanel:scr?}</div>
</div>

<input type=hidden id='{idhelp}_nofile' value='1'>

<div><textarea name='text' onkeydown="f_save('comment',this.value)" id='{idhelp}_textarea' style='border: 1px dotted #ccc; margin:0; padding:0;' cols=60 rows=10></textarea></div>

<div class=l0><input id='{idhelp}_submit' title='Ctrl+Enter' type='submit' value='send'></div>

</form>
</td><td valign=top id='{idhelp}_ta'></td></tr></table>

@@@}</fieldset>");

    idd('{idhelp}_textarea').focus();
    setkey('enter','ctrl',function(){idd('{idhelp}_submit').click()},false,1);
    setkey('esc','',function(e){ if( (e.target && e.target.value.length<2)||confirm('«акрыть комментарий без сохранени€?')) clean('{idhelp}'); },false,1);
    var v=f_read('comment'); if(v!='') idd('{idhelp}_textarea').value=v;

