<p>«дравствуйте, {#realname}!

<p>¬аш адрес <i><b>{#mail}</b></i> был указан при регистрации на сайте <b>{#httphost}</b> (владелец сайта {#admin_name}).

<p>„тобы подтвердить адрес, пройдите по ссылке: <a href='{#link}'>{#link}</a>

<p>ћожете не беспокоитьс€: само по себе без специальных настроек вам на этот адрес ничего приходить не будет.
Ќо если вы хотите получать ответы на свои комментарии по почте, зайдите на сайте в свою личную карточку (нажав
там 'U' или кликнув на свой ник) и проверьте, чтобы там была установлена галочка "получать ответы по почте".

<p>≈сли это ошибка, просто игнорируйте письмо.
