<html><head><meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
{_SNAPSHOT:_}{_MAIN:_}{_STYLE_ADD: {www_css}blank.css _}{_STYLE_ADD: {www_css}sys.css _}
<title>{admin_name}: {_TITLE:_}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="{admin_name}" href="{httphost}rss" />
{_OEMBED:_}
<link rel="prev" href="{prevlink}" id="PrevLink" />
<link rel="next" href="{nextlink}" id="NextLink" />
<link rel="UpLink" href="{uplink}" id="UpLink" />
<link rel="DownLink" href="{downlink}" id="DownLink" />
</head>

<body>

<center><p><table cellspacing=0 cellpadding=0 width=100%><tr valign=top align=center class=r>
</tr></table>

<p class=br>Это страница вызова окна. Если у вас на распахнулось никакое дополнительное окно - значит, у вас не работает Javascript.</p>
<p><a href="{httphost}">вернуться на главную</a>
<center>

</body></html>
