<i class='knop e_nbsp' onClick="ti('{id}','{?chr:160?}{select}')"></i>
<i class='knop e_copy' onClick="ti('{id}','{?chr:169?}{select}')"></i>
<i class='knop e_mdash' onClick="ti('{id}','{?chr:151?}{select}')"></i>
<i class='knop e_ltgt' onClick="ti('{id}','{?chr:171?}{select}{?chr:187?}')"></i>
<i class='knop e_bold' onClick="ti('{id}','[b]{select}[/b]')"></i>
<i class='knop e_italic' onClick="ti('{id}','[i]{select}[/i]')"></i>
<i class='knop e_strikethrough' onClick="ti('{id}','[s]{select}[/s]')"></i>
<i class='knop e_underline' onClick="ti('{id}','[u]{select}[/u]')"></i>
<div class=br>{?LL@Commentpanel:loadfoto?} <input name='foto' type='file' onchange="idd('{id}').value=idd('{id}').value.replace(/\n*\[IMG\]\n*/gi,'')+'[IMG]'"></div>
<div class=br>{?LL@Commentpanel:html?} <input name='html' type='checkbox'></div>

<div class='l br' title="{?LL@Commentpanel:screen_title?}" onClick="ti('{id}','{screen:\n{select}\n}')">{?LL@Commentpanel:screen?}</div>
<div class='l br' title="{?LL@Commentpanel:scr_title?}" onClick="ti('{id}','{scr:\n{select}\n}')">{?LL@Commentpanel:scr?}</div>












